.techcorpsohio_header {
	background: url("http://techcorpsohio.org/images/logos/tco_logo.jpg");
}

.tco_club_header {
	background: url("http://techcorpsohio.org/images/logos/tco_club_logo.jpg");
}

.tco_student_header {
	background: url("http://techcorpsohio.org/images/logos/tco_student_logo.jpg");
}

.tco_volunteer_header {
	background: url("http://techcorpsohio.org/images/logos/tco_volunteer_logo.jpg");
}

.tco_register_header {
	background: url("http://techcorpsohio.org/images/logos/tco_register_logo.jpg");
}