.techcorpsohio_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_logo.jpg") no-repeat;
}

.tco_club_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_club_logo.jpg") no-repeat;
}

.tco_student_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_student_logo.jpg") no-repeat;
}

.tco_volunteer_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_logo.jpg") no-repeat;
}

.tco_register_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_logo.jpg") no-repeat;
}
