.heading a {
  display:block;
  /* float:left; */
  height:108px;
  /* position:absolute; */
  text-indent:-9999px;
  width:357px;
  /* z-index:10000; */
}
.techcorpsohio_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_logo.jpg") no-repeat;
}

.tco_club_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_club_logo.jpg") no-repeat;
}

.tco_student_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_student_logo.jpg") no-repeat;
}

.tco_volunteer_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_logo.jpg") no-repeat;
}

.tco_register_header {
	background: url("http://techcorpsohio.org/unified_theme/images/tco_logo.jpg") no-repeat;
}
