body {
	color: #000033;
	font-family: Arial,Helvetica,Garuda,sans-serif;
	font-size: 12pt;
}

a {
	color: #CC0000;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;Arial,Helvetica,Garuda,sans-serif;
}

a:visited {
	color: #CA0000;
}
.header,h2{
  color: #006699;
}

.subheader,h3{
	font-weight: bold;
	font-size: 14pt;
	color: #006699;
}

a.mainlevel-nav {
	color: #554433;
	font-size: 11pt;
	font-variant: small-caps;
  font-weight: normal;
}

a.mainlevel-nav:hover {
  text-decoration: underline;
}

.sitenav li a {
	color: #FFFFFF;
	font-variant: small-caps;
  font-weight: normal;
  text-decoration: none;
}
.sitenav li a:hover {
  text-decoration: underline;
}

#currentsite {
	color: #5a9adf; 
  font-weight: normal;
}



