/*
* 	Other than setting the template's widths, in most cases this is the only stylesheet we should need to edit in order to build our custom Joomla 1.5.x template.
*/

/* @group logo image */

/* 	Uncomment this block if you are using a logo image in place of the site title */
/*
div#header h1 a:link,div#header h1 a:visited,div#header h1 a:hover {background:url('../images/logo-image.png') left top no-repeat;height:100px;width: 50px;display: block;text-decoration: none;text-indent:-9000em;}
div#header h1 a:focus {outline: none;}
*/

/*	1. Set the background property url to the path of your logo image (relative to this css file). 
	2. Set the height to the height of your logo image. 
	3. Set the width to the width of your logo image.
	4. We set the display to block so that the region becomes clickable
	6. We set the text-decoration to none so that our logo image is not underlined even if our links are. 
	7. We set the text to indent by negative 9000ems to take it off our screen 
	8. We don't want an outline for our image upon focus (click) as the outline will try to extend 9000 ems to the left of our screen because of the text-indent rule 
*/
		
/* @end logo image */

/* @group Menus */

								
/* @group Left Column Vertical fly-out suckerfish menu */

#left ul.menu ul, 
	#left ul.menu ul ul, 
		#left ul.menu ul ul ul {background:#ffffff;list-style: none;}
	#left ul#mainlevel li, 
	#left ul.menu li {list-style:none;padding:0;margin:0;text-indent:0px;}
		#left ul#mainlevel li a:link, 
		#left ul#mainlevel li a:visited, 
		#left ul.menu li a:link, 
		#left ul.menu li a:visited {color:#414141;font-weight:400;padding:0 0 6px 0;width: 100%;text-decoration:none;}
		#left ul#mainlevel li a:hover, 
		#left ul.menu li a:hover {text-decoration:underline;}
		#left ul#mainlevel li a#active_menu, 
		#left ul.menu li#current a {text-decoration:none;color:#B61D20;}
			#left ul.menu ul li {background:none;}

/* Root Menu */
		#left ul#mainlevel a, 
		#left ul.menu a {}
/* Root Menu Hover Persistence */
		#left ul.menu a:hover,
		#left ul.menu li:hover a,
		#left ul.menu li.iehover a {}
/* top level parent */
		#left ul.menu li.parent:hover {background:#e9e9e9;}
		#left ul.menu li.parent a:after {content: " +";}
		#left ul.menu li.parent li a:after {content: none;}

/* 2nd Menu */
			#left ul.menu ul {border-top: 1px solid #b6b6b6;width: 150px;padding: 0;margin: 0;}
			#left ul.menu li:hover li {background:#e9e9e9;border:1px solid #b6b6b6;border-top:0px;padding:0px;margin: 0px;}
			#left ul.menu li:hover li a,
			#left ul.menu li.iehover li a {color:#333;margin: 0.25em 0.5em 0;}
/* 2nd Menu Hover Persistence */
			#left ul.menu li:hover li a:hover,
			#left ul.menu li:hover li:hover a,
			#left ul.menu li.iehover li a:hover,
			#left ul.menu li.iehover li.iehover a {}
/* first sub-level parent */
			#left ul.menu li li.parent a:after {content: " +";}
			#left ul.menu li li.parent li a:after {content: none;}

/* 3rd Menu */
				#left ul.menu li:hover li:hover li a,
				#left ul.menu li.iehover li.iehover li a {}
/* 3rd Menu Hover Persistence */
				#left ul.menu li:hover li:hover li a:hover,
				#left ul.menu li:hover li:hover li:hover a,
				#left ul.menu li.iehover li.iehover li a:hover,
				#left ul.menu li.iehover li.iehover li.iehover a {}
/* second sub-level parent */
				#left ul.menu li li li.parent a:after {content: " +";}
				#left ul.menu li li li.parent li a:after {content: none;}

/* 4th Menu */
					#left ul.menu li:hover li:hover li:hover li a,
					#left ul.menu li.iehover li.iehover li.iehover li a {}
/* 4th Menu Hover Persistence*/
					#left ul.menu li:hover li:hover li:hover li a:hover,
					#left ul.menu li.iehover li.iehover li.iehover li a:hover {}

/* Submenu positioning */
	#left ul.menu ul,
		#left ul.menu ul ul,
			#left ul.menu ul ul ul {top: 10px;left: 75%;}
/* @end left menu */

/* @group Right Column Vertical fly-out suckerfish menu */

#right ul.menu ul,
	#right ul.menu ul ul,
		#right ul.menu ul ul ul {background:#ffffff;}
	#right ul#mainlevel li, 
	#right ul.menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
	text-indent: 0%;
}
		#right ul#mainlevel li a:link, 
		#right ul#mainlevel li a:visited, 
		#right ul.menu li a:link, 
		#right ul.menu li a:visited {color:#414141;font-weight:400;padding:0 0 6px 0;text-decoration:none;}
		#right ul#mainlevel li a:hover, 
		#right ul.menu li a:hover {text-decoration:underline;}
		#right ul#mainlevel li a#active_menu, 
		#right ul.menu li#current a {text-decoration:none;color:#B61D20;}
			#right ul.menu ul li {background:none;}

/* Root = Vertical, Secondary = Vertical */
#right ul#mainlevel,
#right ul.menu,
	#right ul.menu li,
		#right ul.menu ul {list-style: none;}

/* Root Menu */
		#right ul#mainlevel a,
		#right ul.menu a {}
/* Root Menu Hover Persistence */
		#right ul.menu a:hover,
		#right ul.menu li:hover a,
		#right ul.menu li.iehover a {}
/* top level parent */
		#right ul.menu li.parent:hover {background:#e9e9e9;}
		#right ul.menu li.parent a:before {content: "+ ";}
		#right ul.menu li.parent li a:before {content: none;}

/* 2nd Menu */
			#right ul.menu ul {border-top: 1px solid #b6b6b6;width: 150px;margin: 0;padding: 0;}
			#right ul.menu li:hover li {background:#e9e9e9;border:1px solid #b6b6b6;border-top:0px;padding:0px;padding-right: 0.5em;}
			#right ul.menu li:hover li a,
			#right ul.menu li.iehover li a {margin: 0.25em 0.5em 0 0;}
/* 2nd Menu Hover Persistence */
			#right ul.menu li:hover li a:hover,
			#right ul.menu li:hover li:hover a,
			#right ul.menu li.iehover li a:hover,
			#right ul.menu li.iehover li.iehover a {}
/* first sub-level parent */
			#right ul.menu li li.parent a:before {content: "+ ";}
			#right ul.menu li li.parent li a:before {content: none;}

/* 3rd Menu */
				#right ul.menu li:hover li:hover li a,
				#right ul.menu li.iehover li.iehover li a {}
/* 3rd Menu Hover Persistence */
				#right ul.menu li:hover li:hover li a:hover,
				#right ul.menu li:hover li:hover li:hover a,
				#right ul.menu li.iehover li.iehover li a:hover,
				#right ul.menu li.iehover li.iehover li.iehover a {}
/* second sub-level parent */
				#right ul.menu li li li.parent a:before {content: "+ ";}
				#right ul.menu li li li.parent li a:before {content: none;}

/* 4th Menu */
					#right ul.menu li:hover li:hover li:hover li a,
					#right ul.menu li.iehover li.iehover li.iehover li a {}
/* 4th Menu Hover Persistence */
					#right ul.menu li:hover li:hover li:hover li a:hover,
					#right ul.menu li:hover li:hover li:hover li:hover a,
					#right ul.menu li.iehover li.iehover li.iehover li a:hover {}
					#right ul.menu li.iehover li.iehover li.iehover li.iehover a {}
					
/* Submneu positioning */
	#right ul.menu ul,
		#right ul.menu ul ul,
			#right ul.menu ul ul ul {top: 10px;left: -75%;}
/* @end right menu*/
/* @end Menus */

/* @group Pathway */
div#breadcrumbs {}
	div#breadcrumbs p {}
/* @end */

/* @group article and blog layout */
.buttonheading {vertical-align: top;}
td.article_column p {text-align: justify;}
/* @end article and blog layout */

/* @group Tables */
	.column_separator table.contentpaneopen{margin-left:10px;}
	.sectiontableheader {background:#e9e9e9;border:1px solid #b6b6b6;border-bottom: 0px;padding: 0.5em;}
		.sectiontableentry1 td {border:1px solid #b6b6b6;border-bottom: 0px;padding: 0.5em;}
		.sectiontableentry2 td {background:#f3f3f3;border:1px solid #b6b6b6;border-bottom: 0px;padding: 0.5em;}

	
	
	.sectiontablefooter {border-top:1px solid #b6b6b6;}
/* @end tables */

/* @group Forms */
form { margin:0; padding:0;}
	fieldset { font-size:100%; margin: 1.2em 0em 1.2em 0em; }
		textarea { font-size:100%; font-family: arial, serif; }
		input.button { padding:3px  5px; }
/* @end */

/* @group Tooltips */
.tool-tip {text-align: left;background: #ffc;border: 1px solid #D4D5AA;padding: 5px;max-width: 200px;line-height:110%;}
	.tool-title {padding: 0;margin: 0;font-weight: bold;margin-top: -15px;margin-bottom: 5px;padding-top: 15px;padding-bottom: 5px;background: url(../../system/images/selector-arrow.png) no-repeat;border-bottom: 1px solid #d4d5aa;}
		.tool-text  {margin: 0;}
/* @end */

/* @group Error Messages */
dl#system-message {clear:both;background: #FBEEF1;text-align: left;padding: 5px 20px;border-top: 2px solid #FEABB9;border-bottom: 2px solid #FEABB9;}
	dt.error { }
		dd.error { }
/* @end */
